/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #d3d4c2;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: #b2c2ec;
    color: rgb(119, 106, 106);
    margin: 0px;
}

.list-container {
    width: 96%;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(181, 180, 233);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(80, 63, 63, 0.1);
    overflow-x: visible;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.producto {
    border: 1px solid #a39dd6;
    border-radius: 5px;
    background-color: rgb(159, 172, 202);
    padding: 20px;
    margin: 10px;
    width: 180px;
    box-shadow: 0 0 10px rgba(128, 108, 108, 0.1);
    text-align: center;
}

.producto h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1em;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.sidebar {
    width: 180px;
    background-color: #fafafa;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}